<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pet detail</title>
</head>
<body>
    {% load static %}
    <h1>pet detail
        <img src="{% static "images/pet.gif" %}" alt=""></h1>
{#        <img style="width: 100%; height: 100%; position: absolute; top:0; left: 0" src="{% static "images/pet.gif" %}" alt=""></h1>#}

    <a href="{% url 'map' %}"><button>map</button></a>
    <a href="{% url 'store' %}"><button>store</button></a>
    <a href="{% url 'geo' %}"><button>geo</button></a>
    <a href="{% url 'cbt' %}"><button>cbt</button></a>
</body>
</html>